.item {
  width: 250px;
  border-radius: 20px;
}
.item img {
  width: 100%;
  border-radius: 20px;
}
.item h5 {
  font-size: 2vh;
  font-weight: 600;
  margin: 2vh 0;
  text-align: center;
}
.item-prices {
  display: flex;
  justify-content: space-between;
  padding: 0 2vh;
}
.item-prices .new-price {
  font-size: 2.5vh;
  font-weight: 600;
  color: #444;
}
.item-prices .old-price {
  font-size: 2.5vh;
  font-weight: 600;
  color: #444;
  text-decoration: line-through;
}
.item:hover {
    scale: 1.12;
    transition: all ease-in-out 0.3s;
}