.login-signup-page {
  height: 80vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-signup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vh;
  background-color: #ac7252;
  padding: 4vw;
  border-radius: 20px;
}
.fields {
  display: flex;
  flex-direction: column;
  gap: 2vh;
}
.fields input {
  padding: 12px 40px;
  border-radius: 50px;
  border: none;
  outline: none;
  background-color: #fff;
  font-size: 2.4vh;
  font-weight: 600;
}
.fields button {
  padding: 8px 40px;
  border-radius: 50px;
  background-color: rgb(229, 245, 242);
  color: #333;
  font-weight: 600;
  border: none;
  outline: none;
  cursor: pointer;
}
p {
  font-size: 16px;
}
p span {
  font-weight: 600;
  margin-left: 0.2vh;
}
